.Bild1{
	margin-top: -2%;
	height: 100%;
	width: 100%;
}
.Bilder{
	margin-top: 10%;
	height: 100%;
	width: 100%;
}

.T1{
	padding-top: 10%;

  }
 .T2{
 	padding-top: 5%;
 	text-align: center;	
 }
 .T{
 	padding-top:5%;
 	max-width: 20%;
 	float: left;
 	margin-left: 10%;
 }
 .R1{
 	margin-left:25%;
 }

body{
	background-color: #222222;
	color: white;
	font-family: 'Roboto', cursive;
	font-size: 18px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
 }
}